<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
    <!-- log base path -->
    <property name="LOG_HOME" value="../logs"/>
    <property name="SRVNAME" value="example-project-provider"/>
    <!-- back log base path -->
    <property name="LOG_BACK_HOME" value="../logs/backup"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${SRVNAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BACK_HOME}/${SRVNAME}.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- On Windows machines setting withJansi to true enables ANSI
         color code interpretation by the Jansi library. This requires
         org.fusesource.jansi:jansi:1.8 on the class path.  Note that
         Unix-based operating systems such as Linux and Mac OS X
         support ANSI color codes by default.
          recognizes "%black", "%red", "%green","%yellow","%blue",
          "%magenta","%cyan", "%white", "%gray", "%boldRed","%boldGreen",
          "%boldYellow", "%boldBlue", "%boldMagenta""%boldCyan",
          "%boldWhite" and "%highlight"
          -->
        <withJansi>true</withJansi>
        <encoder>
            <!--fix size-->
            <!--<pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) -%yellow(%5p) %blue([%10.10t]) %magenta(%-35.35logger{20}) : %msg - %green(%2M) %green(%2L) %n</pattern>-->
            <!--all-->
            <pattern>%cyan(%d{yyyyMMdd HH:mm:ss.SSS}) %yellow(%-5level) %blue([%thread]) %magenta(%logger{100}): %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.example" level="info"/>
    <logger name="org.springframework.web.servlet" level="info"/>

</configuration>